@import 'tailwindcss';

@font-face {
  font-family: 'Plank';
  src: url('./assets/fonts/PLANK___.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
};

@font-face {
  font-family: 'Nuls';
  src: url('./assets/fonts/nulshock\ bd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
};
